@keyframes scanlines{
    0% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes  fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.fadeIn{
    animation: fadeIn 0.5s ease-in-out both;
}


@-webkit-keyframes  fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}