.contentSide__imageGrid{
    // display: grid;
    width: 100%;
    // gap: 20px;
    padding-bottom: 20px;
    // grid-template-columns: 1fr 1fr;
    column-count: 2;
    column-gap: 0;
}
.imageGrid__item{
    // aspect-ratio: 1 / 1;
    padding: 10px;
    background: #fff;
    // max-width: 33%;
    position: relative;
    margin: 0 20px 20px 0;
    display: inline-block;
}
.imageGrid__item::before {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 5px;
	left: 5px;
	background: #000;
	z-index: -1;
}