#main{
    --x: 0px;
    --y: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
	background-image: linear-gradient(to right top, #2a2a2a, #2f2f2f, #3e3d3d, #5b5b5b, #8b8b8b);
    background-image: url("../images/space.jpg");
    background-size: 120% 120%;
    background-position: var(--x) var(--y);
    // background: $beige;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0; 
        height: 100%;
        width: 100%;
        background: #000;
    }
    &.moved::before{
        animation: fadeOut 1s both;
    }
    @media (max-width: $breakpoint-lg){
        display: block;
        height: auto;
    }
}
#contentPc{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease;
    @media (max-width: $breakpoint-lg){
        height: auto;   
    }
}
.sideActive #contentPc{
    width: 60%;
    transition: width 0.5s ease;
    @media (max-width: $breakpoint-xl) {
        width: 50%;
    }
    @media (max-width: $breakpoint-lg){
        width: 100%;
    }
}